@use './effects';

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;

  background-color: transparent;

  color: var(--c-text);
  font-size: 1.2rem;
}
