
   
/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';
@import 'prism-theme-vars/marker.css';

:root {
  --prism-font-family: var(--font-family-mono);
  --prism-font-size: 0.85rem;
  --prism-marker-opacity: 0;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f5f2f0;
  --prism-inline-background: #f5f2f0;
  --prism-comment: #a0ada0;
  --prism-string: #690;
  --prism-literal: #2f8a89;
  --prism-number: #296aa3;
  --prism-keyword: #00509b;
  --prism-function: purple;
  --prism-boolean: #296aa3;
  --prism-constant: #a65e2b;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #8250df;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
}

html.dark {
  --prism-scheme: dark;
  --prism-foreground: #A6ACCD;
  --prism-background: #181818;
  --prism-comment: #758575;
  --prism-string: #C3E88D;
  --prism-literal: #429988;
  --prism-keyword: #89DDFF;
  --prism-boolean: #6394bf;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #82AAFF;
  --prism-deleted: #bc6066;
  --prism-class: #54b1bf;
  --prism-builtin: #F07178;
  --prism-property: #C792EA;
  --prism-namespace: #db889a;
  --prism-punctuation: #89DDFF;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-inline-background: #2d2d2d;
}


.token.title {
  color: var(--prism-keyword);
}

/* Overrides */
code {
  font-size: var(--prism-font-size);
}

pre, code {
  @apply font-mono;
  font-family: var(--font-family-mono);
}

:not(pre) > code {
  background: var(--prism-inline-background);
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  color: var(--c-text);
}

a > code {
  color: var(--c-brand-dark);
}

div[class*='language-'] {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

div[class*='language-'] pre {
  margin: 0;
  z-index: 1;
}

div[class*='language-'] code {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
}

.token.important {
  font-weight: normal;
}

/* Line highlighting */

.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
}
